.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
}

.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  margin-left: 30px;
  position: relative;
  width: 105px;
  height: 39px;
}

.nav__links {
  margin-right: 80px;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.header__title {
  margin: 183px 0 28px 80px;
  max-width: 729px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  height: 568px;
  width: 646px;
  margin-top: 124px;
  right: 5px;
}

.header__footer {
  margin: auto 80px 40px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.header__paragraph {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  color: #838383;
  margin: 0 0;
  flex: 1 0 100%;
}

.header__paragraph:nth-child(3) {
  flex: 1 0 50%;
}

.header__paragraph_last {
  flex: 1 0 50%;
  text-align: right;
}

.recipes {
  padding: 100px 80px 215px;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
}

.recipes__title {
  margin: 0 0 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-bottom: 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  margin: 24px 0 0;
  display: flex;
  justify-content: space-between;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #D9e7ff;
  padding: 100px 0 120px;
}

.reservation__title {
  text-align: center;
  margin: 0 0 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__fieldset {
 padding: 0;
 border: none;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  display: block;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0 32px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__input:last-of-type {
  margin-bottom: 0;
}

.form__button {
  transition: opacity 0.3s ease;
  width: 100%;
  margin: 32px auto 32px;
  border-radius: 4px;
  padding: 0;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #2f80ed;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

